<nav aria-label="alternative nav">
  <div class="bg-gray-800 shadow-xl h-20 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48 content-center">

    <div class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
      <ul class="list-reset flex flex-row md:flex-col pt-3 md:py-3 px-1 md:px-2 text-center md:text-left">
        <li class="mr-3 flex-1">
          <%= link_to(root_path, class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-500") do %>
            <i class="fa fa-chart-area pr-0 md:pr-3 <%= current_page?(root_path) ? 'text-blue-600' : '' %>"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
              Dashboard
            </span>
          <% end %>
        </li>
        <li class="mr-3 flex-1">
          <%= link_to(new_log_path, class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500") do %>
            <i class="fa fa-database pr-0 md:pr-3 <%= current_page?(new_log_path) ? 'text-purple-600' : '' %> "></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
              New log
            </span>
          <% end %>
        </li>
        <li class="mr-3 flex-1">
          <%= link_to("#", class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-yellow-500") do %>
            <i class="fa fa-file-alt pr-0 md:pr-3 text-yellow-600"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
              Reports
            </span>
          <% end %>
          <ul class="hidden md:block mt-2 space-y-2 pl-3">
            <li>
              <%= link_to(report_generate_path(:all_matches_info), target: '_blank', class: "text-white no-underline hover:text-white") do %>
                <i class="fa fa-caret-right pr-0 md:pr-3 text-yellow-600"></i>
                All game data
              <% end %>
            </li>
            <li>
              <%= link_to(report_generate_path(:all_matches_death_cause), target: '_blank', class: "text-white no-underline hover:text-white") do %>
                <i class="fa fa-caret-right pr-0 md:pr-3 text-yellow-600"></i>
                Death cause
              <% end %>
            </li>
          </ul>
        </li>
        <li class="mr-3 flex-1">
          <%= link_to(credits_path, class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-green-500") do %>
            <i class="fa fa-info-circle pr-0 md:pr-3 <%= current_page?(credits_path) ? 'text-green-600' : '' %> "></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
              Credits
            </span>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</nav>
